**/.project
**/.settings
**/.cproject
*.aplx
**/build/
**/.pydevproject
**/application_generated_data_files/
**/reports/
**/*.pyc
**/results*
**/*.txt
**/*.dict
**/modified_src
**/results*.csv
**/results*.npy
c_models/Debug/
c_models/Release/
/.mypy_cache/
/.pytest_cache/
